[Unit]
Description=Aplicación Web Que Tal Mi AFP en NET 8 MVC

[Service]
WorkingDirectory=/home/ec2-user/QueTalMiAFP
ExecStart=/home/ec2-user/QueTalMiAFP/QueTalMiAFPCdk
Restart=always
User=ec2-user
Environment=DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000

[Install]
WantedBy=multi-user.target