@using QueTalMiAFPCdk.Models.ViewModels
@model DonacionViewModel
@{
    ViewData["Title"] = "¿Unos completitos?";
    ViewData["Description"] = "¿Te ha gustado tanto nuestro trabajo que te gustaría hacernos un donativo? ¡Pues este es el lugar para ello! Un donativo, o como nosotros le llamamos, una invitación a unos completitos, es siempre muy bien recibido por nuestro equipo.";
}

@section Head {
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/localization/messages_es.min.js" integrity="sha512-ddGlBUn+AmysOirmMXZ6qoyM0UhfhXpwWVGjoTilqij0NwtSqMZRtWJ2d64rwj03zKauCLSvuWypvbIcVmMvhQ==" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" defer></script>
    <script src="~/js/Donacion.js" asp-append-version="true" defer></script>
}

<h1>@ViewData["Title"]</h1>

<div>
    <img class="rounded d-block mr-3" style="float: left; width: min(300px, 30vw);" src="~/images/completo.webp" />
    <div class="align-middle d-flex align-items-center" style="height: min(300px, 45vw);">
        <p class="text-center text-muted">
            ¿Te ha gustado tanto nuestro trabajo que te gustaría hacernos un donativo? ¡Pues este es el lugar para ello! 
            Un donativo, o como nosotros le llamamos, <cite>"una invitación a unos completitos"</cite>, es siempre muy bien recibido por nuestro equipo. 
        </p>
    </div>
</div>

@if (!ViewBag.MontoCargado) {
    <form method="post" asp-action="EmitiendoPago">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <button class="btn btn-outline-success px-3" type="button" onclick="cargarMonto('$1.000')">$1.000</button>
                <button class="btn btn-outline-success px-3" type="button" onclick="cargarMonto('$5.000')">$5.000</button>
                <button class="btn btn-outline-success px-3" type="button" onclick="cargarMonto('$10.000')">$10.000</button>
            </div>
            <input asp-for="Monto" type="text" id="inputMonto" class="form-control" required />
        </div>
        <div class="text-center pt-1">
            <span asp-validation-for="Monto"></span>
        </div>

        <input class="btn btn-success mt-2 py-3 px-0 w-100" type="submit" value="¡Ir a los métodos de pago!" />
    </form>
} else {
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary px-3" type="button" onclick="cargarMonto('$1.000')" disabled>$1.000</button>
            <button class="btn btn-outline-secondary px-3" type="button" onclick="cargarMonto('$5.000')" disabled>$5.000</button>
            <button class="btn btn-outline-secondary px-3" type="button" onclick="cargarMonto('$10.000')" disabled>$10.000</button>
        </div>
        <input asp-for="Monto" type="text" id="inputMonto" class="form-control" required disabled/>
    </div>

    <a class=" btn btn-outline-secondary mt-3 py-3 px-0 w-100" asp-controller="Donacion" asp-action="Index">Click para editar monto a donar</a>

    <hr />

    <div id="walletBrick_container" class="my-3 w-100 mx-auto"></div>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
        const mp = new MercadoPago("@ViewBag.MercadoPagoPublicKey");

        const bricksBuilder = mp.bricks();
        const renderWalletBrick = async (bricksBuilder) => {
            await bricksBuilder.create("wallet", "walletBrick_container", {
                initialization: {
                    preferenceId: "@ViewBag.PreferenceId"
                },
                customization: {
                    theme: 'default',
                    customStyle: {
                        valueProp: 'security_safety',
                    }
                }
            });
        };

        renderWalletBrick(bricksBuilder);
    </script>
}