@using QueTalMiAFPCdk.Models.Entities
@using QueTalMiAFPCdk.Models.ViewModels
@model IngresarMensajeViewModel
@{
    ViewData["Title"] = "Contáctate con Nosotros";
}

@section Head {
    <meta name="description" content="¿Te quieres contactar con nosotros? Aquí podrás comentarnos si encontraste
          algún error en la información o en el funcionamiento de nuestra página web,
          hacer algún reclamo e incluso felicitar al equipo de ¿Qué Tal Mi AFP?" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/localization/messages_es.min.js" integrity="sha512-ddGlBUn+AmysOirmMXZ6qoyM0UhfhXpwWVGjoTilqij0NwtSqMZRtWJ2d64rwj03zKauCLSvuWypvbIcVmMvhQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous"></script>
    <script src="~/js/Contacto.js" asp-append-version="true"></script>
}

<h1>@ViewData["Title"]</h1>

<p class="mt-3 text-muted">
    ¿Te quieres contactar con nosotros? Aquí podrás comentarnos si encontraste
    algún error en la información o en el funcionamiento de nuestra página web,
    contarnos de alguna idea que te gustaría ver en nuestra plataforma,
    e incluso felicitar al equipo de ¿Qué Tal Mi AFP?
</p>

<hr />

<form method="post" asp-action="IngresarMensaje">

    <div class="input-group">
        <div class="input-group-prepend">
            <label asp-for="Nombre" class="input-group-text" style="width: 12em;"></label>
        </div>
        <input asp-for="Nombre" type="text" class="form-control" maxlength="255" required />
    </div>
    <span style="margin-left: 12.4em" asp-validation-for="Nombre"></span>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label asp-for="Correo" class="input-group-text" style="width: 12em;"></label>
        </div>
        <input asp-for="Correo" type="email" class="form-control" maxlength="255" required />
    </div>
    <span style="margin-left: 12.4em" asp-validation-for="Correo"></span>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label asp-for="IdTipoMensaje" class="input-group-text" style="width: 12em;"></label>
        </div>
        <select class="custom-select" asp-for="IdTipoMensaje" required>
            <option value="" selected>Seleccionar el motivo del mensaje...</option>
            @foreach (TipoMensaje tipoMensaje in ViewBag.TiposMensaje) {
                <option value="@tipoMensaje.IdTipoMensaje">@tipoMensaje.DescripcionLarga</option>
            }
        </select>
    </div>
    <span style="margin-left: 12.4em" asp-validation-for="IdTipoMensaje"></span>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label asp-for="Mensaje" class="input-group-text" style="width: 12em;"></label>
        </div>
        <textarea asp-for="Mensaje" style="background-color:#fff;" class="form-control" rows="10" maxlength="16383" required></textarea>
    </div>
    <span style="margin-left: 12.4em" asp-validation-for="Mensaje"></span>

    <div style="display: grid; grid-template-columns: 304px auto" class="my-3">
        <div data-callback="habilitarSubmit" data-expired-callback="deshabilitarSubmit" class="g-recaptcha" data-sitekey="@ViewBag.reCaptchaClientKey"></div>
        <div style="padding-bottom: 2px;" class="ml-1">
            <input style="white-space: normal;" class="btn btn-primary w-100 h-100 p-0" type="submit" value="¡Enviar Mensaje!" disabled="disabled"/>
        </div>
    </div>
</form>