@{
    ViewData["Title"] = "¡Ocurrió un Error!";
}

@section Head {
    <meta name="robots" content="noindex">
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.ClaseError == "QueTalMiAFP.Models.Others.ExceptionQueTalMiAFP") {
    <p class="card-text">@ViewBag.Message</p>
} else {
    <p class="card-text">Ocurrió un error inesperado, favor intente más tarde.</p>
}