@{
    ViewData["Title"] = "¡Ocurrió un Error!";
}

@section Head {
    <meta name="robots" content="noindex">
}

<h1>@ViewData["Title"]</h1>

@if (ViewData.ContainsKey("Message") && ViewData["Message"]?.ToString()?.Length > 0) {
    <p class="card-text">@ViewData["Message"]</p>
} else {
    <p class="card-text">Ocurrió un error inesperado, favor intente más tarde.</p>
}