#TabRRFondos li button, #TabRTFondos li button, #TabFondos li button, #TabRRAfp li button, #TabRTAfp li button, #TabVCAfp li button, #TabRentRangoAfp li button, #TabRentRealRangoAfp li button {
    width: 100%;
}

#TabRRFondos li button.active, #TabRTFondos li button.active, #TabFondos li button.active, #TabRRAfp li button.active, #TabRTAfp li button.active, #TabVCAfp li button.active, #TabRentRangoAfp li button.active, #TabRentRealRangoAfp li button.active {
    text-decoration: underline;
}

.tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.nav-tabs .nav-link {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

#TabRRFondoA.active, #TabRTFondoA.active, #TabFondoA.active {
    background-color: #c23b33;
    border-color: #c23b33;
    color: #fff;
}

#TabRRFondoB.active, #TabRTFondoB.active, #TabFondoB.active {
    background-color: #f2af32;
    border-color: #f2af32;
    color: #fff;
}

#TabRRFondoC.active, #TabRTFondoC.active, #TabFondoC.active {
    background-color: #72b500;
    border-color: #72b500;
    color: #fff;
}

#TabRRFondoD.active, #TabRTFondoD.active, #TabFondoD.active {
    background-color: #2E8ECD;
    border-color: #2E8ECD;
    color: #fff;
}

#TabRRFondoE.active, #TabRTFondoE.active, #TabFondoE.active {
    background-color: #0061a0;
    border-color: #0061a0;
    color: #fff;
}

#TabRRCapital.active, #TabRTCapital.active, #TabVCCapital.active, #TabRentRangoCapital.active, #TabRentRealRangoCapital.active {
    background-color: #E3E829;
    border-color: #E3E829;
    color: #212529;
}

#TabRRCuprum.active, #TabRTCuprum.active, #TabVCCuprum.active, #TabRentRangoCuprum.active, #TabRentRealRangoCuprum.active {
    background-color: #f2af32;
    border-color: #f2af32;
    color: #212529;
}

#TabRRHabitat.active, #TabRTHabitat.active, #TabVCHabitat.active, #TabRentRangoHabitat.active, #TabRentRealRangoHabitat.active {
    background-color: #2E8ECD;
    border-color: #2E8ECD;
    color: #fff;
}

#TabRRModelo.active, #TabRTModelo.active, #TabVCModelo.active, #TabRentRangoModelo.active, #TabRentRealRangoModelo.active {
    background-color: #72b500;
    border-color: #72b500;
    color: #fff;
}

#TabRRPlanVital.active, #TabRTPlanVital.active, #TabVCPlanVital.active, #TabRentRangoPlanVital.active, #TabRentRealRangoPlanVital.active {
    background-color: #c23b33;
    border-color: #c23b33;
    color: #fff;
}

#TabRRProVida.active, #TabRTProVida.active, #TabVCProVida.active, #TabRentRangoProVida.active, #TabRentRealRangoProVida.active {
    background-color: #0061a0;
    border-color: #0061a0;
    color: #fff;
}

#TabRRUno.active, #TabRTUno.active, #TabVCUno.active, #TabRentRangoUno.active, #TabRentRealRangoUno.active {
    background-color: #e3007d;
    border-color: #e3007d;
    color: #fff;
}

#TabRRAfp li button, #TabRTAfp li button, #TabVCAfp li button, #TabRentRangoAfp li button, #TabRentRealRangoAfp li button, #TabRRFondos li button, #TabRTFondos li button, #TabFondos li button {
    font-size: 0.8rem;
    padding-left: 0;
    padding-right: 0;
    color: #6c757d;
}

.chartFondo {
    width: 100%;
    height: 40rem;
}

div:has(> table.grillaCabecera) {
    float: left;
}

.grillaCabecera {
    table-layout: fixed;
    border: none;
}

.grillaCabecera, .grillaCabecera td {
    width: 6rem;
}

.grillaCabecera th {
    font-weight: normal;
}

.grillaCabecera tr:first-child {
    height: 6.1rem;
    position: relative;
    top: 1px;
}

.grillaCabecera tr:not(:first-child) {
    height: 2.5rem;
}

.grillaCabecera td {
    border-top-color: transparent;
    border-left-color: transparent;
}

.grillaCabecera img {
    max-width: 120px;
}

div:has(> table.grillaValores) {
    overflow: auto;
}

.grillaValores {
    table-layout: fixed;
    width: 100%;
    border: none;
}

.grillaValores tr:first-child {
    height: 6.1rem;
}

.grillaValores tr:first-child td {
    width: 6.5rem;
    border-left: none;
}

.grillaValores tr:first-child td p:first-child {
    font-size: .9rem;
}

.grillaValores tr:first-child td p:last-child {
    font-size: 0.70rem;
}

.grillaValores tr:not(:first-child) {
    height: 2.5rem;
}

.grillaValores tr:not(:first-child) td {
    border-left: none;
}

.grillaValores tr:not(:first-child) td p {
    font-size: 0.85rem;
}

.grillaValores tr:not(:first-child) td p b {
    font-size: 1.0rem;
}

div.sinBordeExternos table.grillaCabecera tr th:first-child {
    border-left-color: transparent;
}

div.sinBordeExternos table.grillaCabecera tr:last-child th {
    border-bottom-color: transparent;
}

div.sinBordeExternos table.grillaValores tr:first-child td {
    border-top-color: transparent;
}

div.sinBordeExternos table.grillaValores tr td:last-child {
    border-right-color: transparent;
}

div.sinBordeExternos table.grillaValores tr:last-child td {
    border-bottom-color: transparent;
}

#btnMostrarGraficos {
    max-width: 300px;
}