#filtroFondos label {
    width: 10vw;
    max-width: 9rem;
    min-width: 5.0rem;
}

div:has(> table.grillaLogos) {
    float: left;
}

.grillaLogos {
    table-layout: fixed;
    border: none;
}

.grillaLogos, .grillaLogos td {
    max-width: calc(120px + 1.5rem);
    width: calc(20vw + 1.5rem);
}

.grillaLogos tr:first-child {
    height: 4.0rem;
    position: relative;
    top: 1px;
}

.grillaLogos tr:not(:first-child) {
    height: calc(min(80px, 15vw));
}

.grillaLogos td {
    border-top-color: transparent;
    border-left-color: transparent;
}

.grillaLogos img {
    max-width: 120px;
}

div:has(> table.valoresCuota) {
    overflow: auto;
}

.valoresCuota {
    table-layout: fixed;
    width: 100%;
    border: none;
}

.valoresCuota tr:first-child {
    height: 4.0rem;
}

.valoresCuota tr:first-child td {
    width: 6rem;
    border-left: none;
}

.valoresCuota tr:first-child td p:first-child {
    font-size: 0.65rem;
}

.valoresCuota tr:not(:first-child) {
    height: calc(min(80px, 15vw));
}

.valoresCuota tr:not(:first-child) td {
    border-left: none;
}

.valoresCuota tr:not(:first-child) td p:first-child{
    font-size: 0.80rem;
}

.valoresCuota tr:not(:first-child) td p:not(:first-child) {
    font-size: 0.70rem;
}

.valoresCuota tr:not(:first-child) td p:not(:first-child).rentabilidadCritica {
    font-weight: bold;
    font-size: 0.8rem;
}

.valoresCuota tr:not(:first-child) td p:not(:first-child) b {
    font-size: 0.80rem;
}

.valoresCuota tr:not(:first-child) td p:not(:first-child).rentabilidadCritica b {
    font-size: 1rem;
}

div:has(> table.grillaPremioRentabilidad) {
    overflow: auto;
}

p.rentActual {
    font-size: 0.9rem;
    display: inline;
    position: relative;
    top: -0.15rem;
}

b.rentActual {
    font-weight: 700;
    font-size: 1.5rem;
}

.fondoActual {
    font-weight: 500;
    font-size: 2rem;
}

.periodoActual {
    font-size: 0.9rem;
}

.mensajeActual {
    font-size: 0.8rem;
}

.grillaPremioRentabilidad .fondoAnterior {
    font-weight: 400;
    font-size: 1rem;
}

.grillaPremioRentabilidad .periodoAnterior {
    font-size: 0.8rem;
}

.progresoMesPremio p:first-child {
    font-size: 0.9rem;
}

.progresoMesPremio p:not(:first-child) {
    font-size: 0.8rem;
}