#TabGPFondos li {
    width: 20%;
}

#TabGPFondos li button {
    width: 100%;
}

#TabGPFondos li button.active {
    text-decoration: underline;
}

.tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.nav-tabs .nav-link {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

#TabGPFondoA.active {
    background-color: #c23b33;
    border-bottom-color: #c23b33;
    color: #fff;
}

#TabGPFondoB.active {
    background-color: #f2af32;
    border-bottom-color: #f2af32;
    color: #fff;
}

#TabGPFondoC.active {
    background-color: #72b500;
    border-bottom-color: #72b500;
    color: #fff;
}

#TabGPFondoD.active {
    background-color: #2E8ECD;
    border-bottom-color: #2E8ECD;
    color: #fff;
}

#TabGPFondoE.active {
    background-color: #0061a0;
    border-bottom-color: #0061a0;
    color: #fff;
}

#TabGPFondos li button {
    font-size: 0.8rem;
    padding-left: 0;
    padding-right: 0;
}
